*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #053418;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .logout {
    display: none;
  }
  