{% extends 'layout/base.html' %}
{% load static %}

{% block 'style' %} <link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}"> {% endblock %}

{% block 'content' %}

<main class="content">
    <div class="register-form-container">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="{{ form.username.name }}" placeholder="Username" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
        </div>
        <div class="form-group">
          <input type="password" name="{{ form.password.name }}" placeholder="Contraseña">
        </div>
        <button type="submit" class="submit-button"> <i class="fa fa-sign-in"></i> Iniciar Sesion</button>
        <div class="form-group-register">
            <small class="register" >Aun no tienes cuenta? <a href="{% url 'register' %}">Registrate ahora</a></small>
        </div>
      </form>
    </div>
  </main>



{% endblock %}