{% extends 'layout/base.html' %}
{% load static %}

{% block 'style' %}<link rel="stylesheet" href="{% static 'usuarios/css/register.css'%}">

{% endblock %}

{% block 'content' %}

<main class="content">
  
  <div class="register-form-container">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <h2>Regístrate</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="{{ form.username.name }}" placeholder="Nombre de usuario" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
      </div>
      <div class="form-group">
        <input type="email" name="{{ form.email.name }}" placeholder="Dirección de correo electrónico" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
      </div>
      <div class="form-group">
        <input type="password" name="{{ form.password1.name }}" placeholder="Contraseña">
      </div>
      <div class="form-group">
        <input type="password" name="{{ form.password2.name }}" placeholder="Confirmar contraseña">
      </div>
      <button type="submit" class="submit-button"><i class="fa fa-user-plus"></i> Registrarse</button>
      <div class="form-group-login">
        <small class="login">Ya tienes una cuenta? <a href="{% url 'login' %}">Login</a></small>
    </div>
    </form>
  </div>
</main>

{% endblock %}